<%- include header.ejs -%>
    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Belépés</h1>
          <p >
            Még nyílnak a völgyben a kerti virágok,
          </br>
            Még zöldel a nyárfa az ablak előtt,
          </br>
            De megkapom egyszer a diplomámat
          </br>
            Talán még a nyugdíj előtt.
          </p>
        </div>
      </div>
      <%- include errorbox.ejs %>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row justify-content-center">
          <div class="col-md-3">
            <p></p>
            <form  method="POST" class="form-signin">
              <h1 class="h3 mb-3 font-weight-normal">Belépés</h1>
              <input
                type="email"
                class="form-control"
                placeholder="Email cím"
                name="email" id="email"
                required
                autofocus
              />
              <br />
              <label for="inputPassword" class="sr-only">Password</label>
              <input
                type="password"
                class="form-control"
                name="password" id="password"
                placeholder="Jelszó"
                required
              />
              <br />
              <input type="submit" class="btn btn-warning" value="Belépés" href="/home">
            </form>

            <br />
            <p>
              <a class="btn button" role="button" href="/register">
                Regisztráció &raquo;</a
              >
            </p>
          </div>

          <div class="col-md-3">
            <form method="POST">
              <h1 class="h3 mb-3 font-weight-normal">Elfelejtett Jelszó</h1>
              <input
                type="email"
                id="remindermail"
                name="remindermail"
                class="form-control"
                placeholder="Email cím"
                required
                autofocus
              />
              <br />
              <input type="submit" class="btn btn-warning" value="Küldés" href="/reminder">
            </form>
          </div>
        </div>
      </div>
  
    </main>

    <%- include footer.ejs-%>
