<%- include  header.ejs -%>
<%- include navbar.ejs -%>
    </nav>
    <br />
    <br />
    <br />
    <br />

    <main role="main">
      <div class="row justify-content-center">
        <div class="col-sm-4">
          <div class="card card-fluid">
            <h6 class="card-header">Fiók szerkesztése</h6>
            <!-- .card-body -->
            <div class="card-body">
              <!-- form -->
              <form method="post">
                <!-- form row -->
                <div class="form-row">
                  <!-- form column -->
                  <div class="col mb-3">
                    <label for="name">Név</label>
                    <input
                      type="text"
                      class="form-control"
                      id="name"
                      value="Akár Miki"
                      required
                    />
                  </div>
                </div>
                <!-- /form row -->
                <!-- .form-group -->
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    value="akar@mi.ki"
                    required
                  />
                </div>
                <!-- /.form-group -->
                <!-- .form-group -->
                <div class="form-group">
                  <label for="pw">Új jelszó</label>
                  <input
                    type="password"
                    class="form-control"
                    id="pw"
                    value="superMagicSecretString"
                  />
                </div>
                <!-- /.form-group -->
                <div class="form-actions">
                  <!-- enable submit btn when user type their current password -->
                  <input
                    type="password"
                    class="form-control ml-auto mr-3"
                    id="pw2"
                    placeholder="Jelszó mégegyszer"
                  />
                </div>
                <!-- /.form-actions -->
                <hr />
                <!-- .form-actions -->
                <br />
                <center>
                  <a href="/home">
                    <button type="button" class="btn btn-themed">
                      Mentés
                    </button>
                  </a>
                </center>
                <hr />
                <a href="/index 11111               ">
                  <button type="button" class="btn btn-danger">
                    Fiók törlése
                  </button>
                </a>
                <br />
                <small class="danger"
                  >Ez a művelet visszavonhatatlan, gondolkozz mielőtt
                  megnyomod!</small
                >
              </form>
              <!-- /form -->
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
    </main>
    <br />
    <br />
    <%- include footer.ejs -%>